@import "tailwindcss";
@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:
    /*var(--color-neutral-900)*/
    #0A0A0A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* styles/global.css or wherever your global styles are */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset !important;
  /* Tailwind gray-800 */
  -webkit-text-fill-color: white !important;
  /* Tailwind gray-100 */
  transition: background-color 5000s ease-in-out 0s;
  /* helps suppress flashing */

}

@layer utilities {
  .gradient-border {
    border: 2px solid transparent;
    border-radius: 0.5rem;

    background-image:
      /* inner fill (bg) */
      linear-gradient(#0A0A0A,
        #0A0A0A),
      /* outer frame (gradient) */
      linear-gradient(to bottom right,
        #7C82FF,
        #C355F5);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
  }
}



.toast-success {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-image:
    linear-gradient(#121212,
      #121212),
    linear-gradient(to bottom right,
      #61AA00,
      #D38E00);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  color: white;
}

.toast-error {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-image:
    linear-gradient(#121212,
      #121212),
    linear-gradient(to bottom right,
      #FC4400,
      #962800);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  color: white;
}

.toast-loading {
  border: 1px solid transparent;
  border-radius: 0.5rem;

  background-image:
    linear-gradient(#121212,
      #121212),
    linear-gradient(to bottom right,
      #7C82FF,
      #C355F5);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  color: white;
}

.gradient-border:hover {
  border: 2px solid transparent;
  border-radius: 0.5rem;

  background-image:
    /* inner fill (bg) */
    linear-gradient(to bottom right, #7C82FF,
      #C355F5),
    /* outer frame (gradient) */
    linear-gradient(to bottom right,
      #7C82FF,
      #C355F5);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

button {
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.tag-button {
  border: 2px solid var(--tag-colour, #8B8589);
}

.tag-button:hover {
  background-color: var(--tag-colour, #8B8589);
}

.tag-button.selected {
  background-color: var(--tag-colour, #8B8589);
}

.tag-pill {
  border: 2px solid var(--tag-colour, #8B8589);
}